<div class="auth-container">
  <div class="auth-card">
    <h2 class="text-center mb-4">{{ 'LOGIN.TITLE' | translate }}</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="mb-3">
        <label for="userName" class="form-label">{{ 'LOGIN.USERName' | translate }}</label>
        <input type="text" class="form-control" Id="userName" [(ngModel)]="model.userName" Name="userName" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">{{ 'LOGIN.PASSWORD' | translate }}</label>
        <input type="password" class="form-control" Id="password" [(ngModel)]="model.password" Name="password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
        <span *ngIf="!isLoading">{{ 'LOGIN.BUTTON' | translate }}</span>
        <span *ngIf="isLoading">{{ 'LOGIN.LOADING' | translate }}</span>
      </button>
    </form>
  
  </div>
</div>